doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    title #{profile.name} | Резюме
    link(rel='stylesheet' href=`${publicDir || ''}/resume/common.css`)
    link(rel='stylesheet' href=`${publicDir || ''}/resume/designer.css`)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property='og:title' content='#{profile.name} | Резюме')
    meta(property='og:type' content='website')
    meta(property='og:url' content='http://tonyfresher.github.io/resume/designer')
    meta(property='og:image' content='https://avatars0.githubusercontent.com/u/17676963')
    meta(property='og:image:width' content='460')
    meta(property='og:image:height' content='460')
    include ../metrica

  body
    main
      include header

      .body
        p.about #{profile.about}
        a.developer-resume-link(href='../resume/developer' target='_blank')
          | А ещё я очень люблю писать код

        section.skills-block
          h2.section-header Навыки
          .collapsable-grid
            each item in skills
              .skill
                span.skill__name #{item.name}
                span.skill__details #{item.details}
                progress.progress(value=item.progress)

        section.instruments-block
          h2.section-header Инструменты
          .collapsable-grid
            each item in instruments
              .instrument
                span.instrument__name #{item.name}
                progress.progress(value=item.progress)

        section.education-block
          h2.section-header Образование
          div(class={'collapsable-grid': education.length > 1})
            each item in education
              .education
                a.education__university(href=item.link, target='_blank') #{item.university}
                span.education__speciality #{item.speciality}
                span.education__period #{item.period}

        section.connects-block
          each item in connects.social
            a.connect(href=item.link target='_blank') #{item.name}