<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Антон Фрешер | Резюме</title>
    <link rel="stylesheet" href="{{ staticBasePath }}resume.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Антон Фрешер | Резюме"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tonyfresher.github.io/resume">
    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/17676963">
    <meta property="og:image:width" content="460">
    <meta property="og:image:height" content="460">
</head>

<body>
<main class="main">
    <div class="header">
        <h1 class="name">{{ profile.name }}</h1>
        <a href="mailto:{{ connects.email }}" target="_blank" class="email">
            {{ connects.email }}
        </a>
        <a href="tel:{{ connects.phone }}" target="_blank" class="phone">
            {{ formatPhone connects.phone }}
        </a>
    </div>
    <p class="about">{{ profile.about }}</p>
    <section class="education-block">
        <h2 class="section-header">Образование</h2>
        <div class="{{#if (multipleElements education) }}collapsable-grid{{/if }}">
            {{#each education }}
            <div class="education">
                <a href="{{ link }}" class="education__university" target="_blank">{{ university }}</a>
                <span class="education__speciality">{{ speciality }}</span>
                <span class="education__period">{{ period }}</span>
            </div>
            {{/each }}
        </div>
    </section>
    <section class="jobs-block">
        <h2 class="section-header">Опыт</h2>
        <div class="{{#multipleElements jobs }}collapsable-grid{{/multipleElements }}">
            {{#each jobs }}
            <div class="job">
                <a href="{{ link }}" class="job__company" target="_blank">{{ company }}</a>
                <span class="job__position">{{ position }}</span>
                <span class="job__period">{{ period }}</span>
                <span class="job__description">{{ description }}</span>
            </div>
            {{/each }}
        </div>
    </section>
    <section class="technologies-block">
        <h2 class="section-header">Языки/технологии</h2>
        <div class="collapsable-grid">
            {{#each technologies }}
            <div class="technology">
                <span class="technology__name">{{ name }}</span>
                <span class="technology__courses">{{ courses }}</span>
                {{#each project-links }}
                <a href="https://{{ path }}{{ accent }}" class="technology__project-link" target="_blank">
                    <span class="project-link__path">{{ path }}</span>
                    <span>{{ accent }}</span>
                </a>
                {{/each }}
            </div>
            {{/each }}
        </div>
    </section>
    <div class="connects-block">
        {{#each connects.social }}
        <a href="{{ link }}" class="connect" target="_blank">{{ name }}</a>
        {{/each }}
    </div>
</main>
</body>

</html>